<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>main</title>
  </head>
  <body>
    <nav>
      <h1>Main page</h1>
      <ul>
        <li><a href="">saved</a></li>
        <li><a href="">Files</a></li>
        <li><a href="">Settings</a></li>
      </ul>
      <form method="post">
        {% csrf_token %}
        <button type="submit">Log out</button>
      </form>
    </nav>

    <p>Welcome <b>{{ username }}</b>!</p>
  </body>
</html>
