<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../staticfiles/style.css" />
    <title>register</title>
  </head>
  <body>
    <section id="top">
      <div id="items">
        <h1>Register Form</h1>
        <a href="/login.html">Already have an Account?</a>
      </div>
    </section>

    <section id="main">
      <form method="post">
        <input type="text" placeholder="username" class="inp" />
        <input type="email" placeholder="E-Mail" class="inp" />
        <input type="password" placeholder="password" class="inp" />
        <button type="submit" id="s-btn">register</button>
      </form>
    </section>
  </body>
</html>
